/* App.css */

.app-container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333; /* Color de fondo del sidebar */
  color: white; /* Color del texto en el sidebar */
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.main-content {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio restante */
  padding: 20px;
}

/* Agrega más estilos según tus preferencias */
